


.self-defense{
   padding: 20px;
   height: 100vh;
   width: 100vw;
   gap: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.self-left{
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  gap: 20px;
  width: 50%;
  height: 100%;
 align-items: center;
 justify-content: center;
  display: flex;
}
.self-left h1{
  color: #db2777;
}
.self-left p{
  color: #6b7280;
}
.self-left img{
  height: 40%;
  width: 100%;
  margin-right: 10px;
}
.self-right{
  height: 100vh;
  width: 25%;
  
}
.self-right video{
  margin-top: 30px;
  height: 100%;
  width: 90%;
}

.anotherSelfDefTips{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  width: 100vw;
  font-size: larger;
}
.anotherSelfDefTips h1{
  color: #db2777;
}
.anotherSelfDefTips img{
  width: 70%;
  height: 70%;
}
.emergency-response{
  display: flex;
  gap: 20px;
 
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.emergency-left{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 40%;
}
.emergency-left h1{
  color: #db2777;
}
.emergency-left p{
  color: #6b7280;
}
.emergency-right{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 100%;

}
.emergency-right img{
  height: 50%;
}

.knock-out{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.knock-final{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}
.knock-final h1{
  color: #db2777;
}
.knock-image{
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  
}
.knock-image img{
  width: 40%;
  height: 70%;
}
